@model FitnessTrackingApp.Web.ViewModels.BodyWeight.BodyWeightDetailsViewModel

<h2>Body Weigh Details</h2>

<h2>Your body weight goal is: @(Model.BodyWeightGoal?.GoalWeight ?? 0) kg</h2>

<div class="row">
    <div class="col-3">
        <div class="alert alert-info mt-3 mb-2">
            <h5 class="ml-3">@(Model.BodyWeightGoal == null ? "You do not have a goal! Add new body weight goal" : "Add New Body Weight Goal")</h5>
            <partial name="_GoalWeightForm" model="Model.GoalWeightViewModel" />
        </div>
    </div>
</div>